In [2]:
print("Hello SkillGapAI")

Hello SkillGapAI

In [3]:
name = "Tharun Kumar Marati"
print(name)

Tharun Kumar Marati

In [4]:
age = 25
city = 'chennai'
skill = 'Python'
print(age, city, skill)

25 chennai Python

In [5]:
value = str(100)
print(type(value))

<class 'str'>

In [16]:
text = 'python basics'
print(text.upper())

PYTHON BASICS

In [6]:
print(len('SkillGapAI'))

10

In [7]:
colors = ['red','blue','green']
print(colors[1])

blue

In [10]:
fruits = ['apple','banana']
fruits.append('Orange')
print(fruits)

['apple', 'banana', 'Orange']

In [13]:
items = ['apple','banana','Orange']
items.remove('banana')
print(items)

['apple', 'Orange']

In [15]:
nums = [1,2,3]
t = tuple(nums)
print(nums)
print(t)
print(type(t))

[1, 2, 3]
(1, 2, 3)
<class 'tuple'>

In [17]:
resume = {'name':'John','age':25,'skills':['Python','SQL']}
print(resume)

{'name': 'John', 'age': 25, 'skills': ['Python', 'SQL']}

In [18]:
print(resume['skills'])

['Python', 'SQL']

In [19]:
marks = 50
print('Pass' if marks > 40 else 'Fail')

Pass

In [20]:
num = 7
print('Even' if num % 2 == 0 else 'Odd')

Odd

In [21]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
i = 5
while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

In [24]:
def say_hello():
    print('Hello')
say_hello()

Hello

In [25]:
def add(a,b):
    return a + b
add(5,6)

11

In [26]:
import math 
math.pi

3.141592653589793

In [29]:
!python -m venv myenv