# JSON Practice Questions

In [1]:
import json

## 1. Convert the JSON string {'name': 'Alex', 'age': 22, 'city': 'Chennai'} into a Python dictionary.

In [5]:
json_str = '{"name": "Alex", "age": 22, "city": "Chennai"}'
pyt_dict = json.loads(json_str)
print("Python Dictionary:",pyt_dict)
print(type(pyt_dict))

Python Dictionary: {'name': 'Alex', 'age': 22, 'city': 'Chennai'}
<class 'dict'>

## 2. Convert the dictionary {'id': 101, 'product': 'Laptop', 'price': 55000} into a JSON string.

In [4]:
dict1 = {'id': 101, 'product': 'Laptop', 'price': 55000}
pyt_json_str = json.dumps(dict1)
print("Python dictionary to json str:",pyt_json_str)
print(type(pyt_json_str))

2. Python dictionary to json str: {"id": 101, "product": "Laptop", "price": 55000}
   <class 'str'>

## 3. Read a JSON file named data.json and print all key-value pairs.

In [2]:
with open(r"C:\Users\tarun\Infosys_springboard\csv_json\data.json",'r') as file:
    data = json.load(file)
print(data)
print(type(data))

{'name': 'Tharun Kumar', 'age': 23, 'Course': 'Data science'}
<class 'dict'>

## 4. Write the dictionary {'name': 'Mia', 'age': 24, 'grade': 'A'} into a JSON file student.json.

In [5]:
stu_data = {
    'name':'Mia',
    'age':24,
    'grade':'A'
}
with open(r"C:\Users\tarun\Infosys_springboard\csv_json\students.json",'w') as file:
    json.dump(stu_data,file)

In [8]:
with open(r"C:\Users\tarun\Infosys_springboard\csv_json\students.json",'r') as file:
    stu_details = json.load(file)
print(stu_details)

{'name': 'Mia', 'age': 24, 'grade': 'A'}

## 5. From JSON {'employee': {'name': 'John', 'age': 30, 'department': 'HR'}}, print only the department.

In [13]:
with open(r"C:\Users\tarun\Infosys_springboard\csv_json\employee.json",'r') as file:
    employee_details = json.load(file)
print("Department:",employee_details['employee']['department'])

Department: HR

## 6. Update the dictionary {'name': 'Raj', 'age': 45} by changing age to 50 and convert it to JSON.

In [17]:
py_dict = {'name':'Raj','age' : 45}
py_dict['age'] = 50
dict_to_json = json.dumps(py_dict,indent = 4)
print(dict_to_json)
print(type(dict_to_json))

{
    "name": "Raj",
    "age": 50
}
<class 'str'>

## 7. Read a JSON list ['red', 'green', 'blue'] and print the second item.

In [18]:
json_list = '["red","green","blue"]'
to_list = json.loads(json_list)
to_list[1]

'green'

## 8. From JSON {'users': [{'id':1,'name':'Alex'}, {'id':2,'name':'Mia'}]}, print all user names.

In [22]:
json_file = '{"users": [{"id":1,"name":"Alex"}, {"id":2,"name":"Mia"}]}'
py_dicti = json.loads(json_file)
for i in py_dicti['users']:
    print(i['name'])

Alex
Mia

## 9. Add a new key 'country': 'India' to {'name': 'Sam', 'age': 28} and convert back to JSON.

In [24]:
dict1 = {"name":"Sam","age":28}
dict1['country'] = 'India'
dict1_json = json.dumps(dict1,indent = 4)
print(dict1_json)

{
    "name": "Sam",
    "age": 28,
    "country": "India"
}

## 10. Create items.json with [{'item':'Pen','price':10}, {'item':'Book','price':50}, {'item':'Bag','price':700}]and print total cost.

In [25]:
data = [{'item':'Pen','price':10}, {'item':'Book','price':50}, {'item':'Bag','price':700}]

In [28]:
with open(r"C:\Users\tarun\Infosys_springboard\csv_json\items.json",'w') as file:
    json.dump(data,file,indent = 4)

In [33]:
with open(r"C:\Users\tarun\Infosys_springboard\csv_json\items.json",'r') as file:
    items_data = json.load(file)
total_cost = 0
for item in items_data:
    total_cost += int(item['price'])
print("Total_cost:",total_cost)

Total_cost: 760